src/conf/xml-resources/web-service-references/SCCR/wsdl/localhost_8080/SCCR/SCCR.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><xs:schema xmlns:tns="http://tic/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://tic/">

<xs:element name="listaEquipamentos" type="tns:listaEquipamentos"/>

<xs:element name="listaEquipamentosResponse" type="tns:listaEquipamentosResponse"/>

<xs:complexType name="listaEquipamentos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listaEquipamentosResponse">
<xs:sequence>
<xs:element name="return" type="tns:equipamento" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="equipamento">
<xs:sequence>
<xs:element name="descricao" type="xs:string" minOccurs="0"/>
<xs:element name="diasdeuso" type="xs:int"/>
<xs:element name="fp" type="xs:double"/>
<xs:element name="horas" type="xs:int"/>
<xs:element name="idequipamento" type="xs:int"/>
<xs:element name="minutos" type="xs:int"/>
<xs:element name="potencia" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>